/*
Single-page React app with client-side routing and back4ap backend.
Stefan Korecko, 2020
*/

html {
  font-size: 100%;
  font-family: "Tw Cen MT", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  width: 95%;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(63, 38, 0);
}

#root > header {
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 1em;
  text-align: center;
  background-color: rgb(204, 153, 0);
}

#root > header > div {
  text-align: left;
  padding-left: 0.5em;
}

.linkAsButton,
button {
  background-color: rgb(255, 228, 113);
  border-radius: 1em;
  border-width: 0.1em;
  border-color: rgb(204, 153, 0);
  padding: 0.5em;
  margin-bottom: 1em;
}

#root > header nav {
  text-align: left;
  position: absolute;
  padding: 0.5em;
  max-width: 8em;
  min-width: 7em;
  border-radius: 0.5rem;
  background-color: rgb(204, 153, 0);
}

#root > header nav > a {
  display: block;
}

.btDropdownMenu {
  border: 0;
  background-color: rgb(204, 153, 0);
  outline: none;
}

.btDropdownMenu:hover,
a:hover {
  text-decoration: none;
  color: #982d3b;
  background-color: rgb(255, 246, 214);
}

@media only screen and (min-width: 600px) {
  body {
    min-width: 35rem;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }
}

main footer {
  margin-top: 0.5em;
}

main > article {
  background-color: rgb(255, 246, 152);
  border-radius: 1rem;
  padding: 0.3rem;
  margin-bottom: 1rem;
}

main > article > * {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

main > article > h2 {
  background-color: rgb(253, 255, 162);
  border-radius: 1rem;
  margin: 0;
}

label {
  vertical-align: top;
  display: inline-block; /*instead of inline (default) to make the width applicable*/
  min-width: 5.5em;
}

form {
  padding-bottom: 1em;
}
